{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load guardian_tags %}

{% block title %} {{ game.name }} {% endblock %}


{% block content %}
    {% get_obj_perms request.user for game as "game_perms" %}

    <p> Vote : </p>
    <ul class="list-group">
        {% for player in players %}
            {% if player != me %}
                <li class="list-group-item">
                    <div class="vote-btn" id="{{ player.id }}">

                        {{ player.owner.username }}
                        {% if "can_vote" in game_perms %}
                            {% if me.vote and me.vote.whom == player %}
                                <button type="button" class="btn btn-success" onclick="vote({{ player.pk }})">Vote</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-success" onclick="vote({{ player.pk }})">Vote</button>
                            {% endif %}
                        {% endif %}
                    </div»
                </li>
            {% endif %}

        {% endfor %}
    </ul>

{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'js/game.js' %}"></script>

{% endblock %}
