{% extends 'base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block title %} Werewolf {% endblock %}


{% block content %}

{% if request.user.is_authenticated %}
    <a href='/werewolf/new'>Créer une partie</a>

    <ul class="list-group">
      {% for game in games %}
        <li class="list-group-item">
            <p>
              <a href="{% url 'game' game.pk %}">{{game.name}}</a>

              {% if game.status == 'DONE' %}
                <span class="badge badge-pill badge-danger">Finished</span>
              {% endif %}
              {% if game.status == 'IN PROGRESS' %}
                 <span class="badge badge-pill badge-success">In progress</span>
              {% endif %}
              {% if game.status == 'NOT LAUNCHED' %}
                  <span class="badge badge-pill badge-warning">Not launched</span>
                  <a href="{% url 'start-game' game.pk %}"> Launch Game </a>
              {% endif %}
            </p>
        </li>
      {% endfor %}
    </ul>

</div>
{% else %}
    <p> Vous n'êtes pas authentifié. </p>
{% endif %}

{% endblock %}
